
@{
    ViewData["Title"] = "Image";
}


<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Précision de la méthode SVM : @ViewBag.AnalytiqueResult </h3>
</main>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Précision de la méthode analytique : @ViewBag.SVMResult </h3>
</main>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Précision de la méthode KNN : @ViewBag.KNNResult </h3>
</main>


