
@{
    ViewData["Title"] = "RésultatRF";
}

    <div class="text-center">
        <span class="animation-text">
            <h1 class="display-4"><u>RANDOM FOREST</u></h1>
        </span>

        @{
            string resultJson = ViewBag.Result1;
            decimal accuracyF = 0;
            if (!string.IsNullOrEmpty(resultJson))
            {
                dynamic resultObject = Newtonsoft.Json.JsonConvert.DeserializeObject(resultJson);
                if (resultObject != null)
                {
                    if (resultObject.MLRF != null)
                    {
                        decimal.TryParse(resultObject.MLRF.ToString(), out accuracyF);
                    }
                }
            }
            string accuracyString = accuracyF.ToString("0.##############").Replace(".", ",");

            <p> <br></p>

            <h5>
                Nous avons choisi comme mesure de performance l'accuracy (exactitute) pour évaluer la précision des modèles de classification. L'accuracy compare les éléments de y_true et y_pred et calcule la proportion des prédictions correctes par rapport à l'ensemble des prédictions.
                Accuracy = (Nombre de prédictions correctes) / (Nombre total d'échantillons)
            </h5>

            <h2> <strong>Voici le résultat obtenu<br> avec la méthode Random forest</strong></h2>

            <span class="animation-text"><h3>Result: @Html.Raw(ViewBag.Result1)</h3></span>

        }

        <span class="animation-text">
            <h3>Result: @accuracyF.ToString() </h3>
        </span>
        <p><br><br><br><br><br><br></p>
        <div class="btn">
            <form method="post" action="/SaveResults">
                <input type="hidden" name="accuracyR" value="@accuracyF.ToString()" />
                <input type="hidden" name="idM" value="2" />
                <input type="hidden" name="ListHParam[0].Id" value="1" />
                <input type="hidden" name="ListHParam[0].Value" value="@Html.Raw(ViewBag.Hyperparameter1)" />
                <input type="hidden" name="ListHParam[1].Id" value="2" />
                <input type="hidden" name="ListHParam[1].Value" value="@Html.Raw(ViewBag.Hyperparameter2)" />
                <input class="dropbtn" type="submit" name="envoi" value="Sauvegarder" style="width: 250px; height: 50px; font-size: 24px; padding: 10px;">
            </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="dropbtn" type="submit" name="envoi" value="Retour" onclick="window.location.href='@Url.Action("Page3", "Home")'" style="width: 250px; height: 50px; font-size: 24px; padding: 10px;">
        </div>
        <p><br></p>
    </div>

